.container {
  position: relative;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none
}

.content {
  position: relative;
  display: flex;
  height: 400px;
}
